<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.broadcastssensors" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorsActivity"
            android:label="@string/title_activity_sensors" >
        </activity>

        <receiver
            android:name=".StaticReceiver"
            android:enabled="true"
            android:exported="true" >

            <!-- TODO: We need intent filters! -->
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />

                <!-- TODO: Action matching: There's only one Action and it must be in here -->

                <category android:name="android.intent.category.DEFAULT"/> <!-- TODO: Required for all intents w/ filters -->

                <!-- TODO: Category matching: There are multiple categories and each one has to be in here -->



            </intent-filter>
        </receiver>
    </application>

</manifest>
